* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

/* common */
.line {
  margin: 12px 0;
  width: var(--width, 160px);
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding, 11px 41px);
  text-decoration: none;
  max-width: var(--width, 136px);
  height: var(--height, 50px);
  border-radius: var(--border-radius, 25px);
  border-color: none;
  background: var(--bg, #171100);
  color: var(--color, #fff);
  font-size: var(--font-size, 1.6rem);
  font-weight: 600;
  line-height: var(--line-height, 1.75);
}

.btn:hover {
  opacity: 0.9;
}

.btn.active {
  background: #ffb900;
  opacity: 1;
}
.content {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* ======= Header-fix ======== */
.header-fix {
  position: sticky;
  padding: 36px 0 8px;
  top: -28px;
  left: 0;
  right: 0;
  background-color: #fffcf4;
  z-index: 1;
}

.header-fix img {
  margin-right: 512px;
}

.header-fix .nav a {
  position: relative;
  text-align: center;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  text-decoration: none;
}

.header-fix .nav li:nth-child(1) a::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  top: 20px;
  left: 0;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor; /*cách này thay cho font-weight, cấu trúc ui li không bị giật khi rê mouse vào hover*/
}

.header-fix .nav li {
  padding-left: 41px;
}

.header-fix .nav li:first-child {
  padding-left: 0;
}

.header-fix .nav li:last-child {
  padding-right: 41px;
}

.header-fix .signup {
  text-decoration: none;
  min-width: 144px;
  height: 50px;
  border-radius: 25px;
  background: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  margin-left: auto;
}

.header-fix .signup:hover {
  opacity: 0.9;
}

/* <!-- header-body --> */
.header-body {
  padding-top: 56px;
  background: #fffcf4;
  height: calc(900px - 94px);
}
.header-body .img-lesson {
  position: relative;
}
.header-body .img-lesson .lesson {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.img-lesson .base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 5px 24px 24px;
  position: absolute;
  top: 393px;
  right: -100px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.img-lesson .base li {
  margin-top: 14px;
}

.img-lesson .base li:first-child {
  margin-top: 0;
}

.img-lesson .base .bg-icon {
  width: 48px;
  height: 48px;
  background: var(--bg-custom, #f2f2f2);
  border-radius: 50%;
}

.img-lesson .base p {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.img-lesson .base strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.img-lesson .base .sub-base {
  padding-left: 16px;
}

.content-lesson {
  width: 470px;
  height: 558px;
  margin-left: auto;
}
.content-lesson .tittle {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1.16px;
  width: 470px;
}

.content-lesson .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  padding-top: 22px;
}

.content-lesson .total-btn {
  padding-top: 38px;
}

.content-lesson .total-btn .btn-play {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: ffff;
  border-radius: 50%;
  box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.1);
  margin-left: 28px;
}

.content-lesson .total-btn .btn-play::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  border: 8px solid;
  border-color: transparent transparent transparent #ffb900;
}

.content-lesson .total-btn p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  padding-left: 14px;
}

.content-lesson p:nth-of-type(2) {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  padding: 48px 0 8px;
}

.content-lesson .number-stu {
  display: flex;
  align-items: flex-end;
}

.content-lesson .number-stu + .number-stu {
  padding-left: 28px;
}
.content-lesson .number-stu strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.content-lesson .number-stu p {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10px;
}

/* =========== Courses ============ */
.courses {
  height: 1045px;
  padding: 200px 0 200px;
}

.courses .header-courses {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.courses .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  width: 458px;
  padding-top: 16px;
}

.courses .icon {
  width: 98px;
  height: 40px;
}

.courses .icon a {
  text-decoration: none;
  line-height: 100%;
}

.courses .icon a i {
  font-size: 40px;
  color: #fea31b;
}
.courses .icon a + a {
  padding-left: 20px;
}

.courses .sum-courses {
  margin-top: 55px;
  gap: 30px;
}

.courses .sum-courses .item-coures {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.courses .name-courses {
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 22px 22px 22px;
}

.courses .item-coures a img {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.item-coures .rating-courses {
  justify-content: space-between;
  width: 100%;
}

.item-coures .rating-courses .star {
  width: 18px;
  height: 18px;
  margin-left: auto;
}

.item-coures .rating-courses span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  padding-left: 6px;
}

.item-coures .rating-courses strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.item-coures .desc {
  width: 326px;
  text-wrap: wrap;
  padding-top: 6px;
}

.item-coures .buy {
  width: 100%;
  padding-top: 12px;
  justify-content: space-between;
}

.item-coures .buy .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/*============ feedback ==============*/
.feedback {
  height: 380px;
  padding: 96px 0 96px;
  background: #2e2100;
}

.feedback .infor {
  width: 159px;
  height: 188px;
}

.infor .avatar {
  display: flex;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.infor .name {
  padding-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.infor .job {
  padding-top: 4px;
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.infor .next-infor {
  padding-top: 28px;
  display: flex;
  gap: 4px;
}
.circle {
  width: 6px;
  height: 6px;
  background-color: var(--color-active, #634700);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.feedback .comment {
  width: 770px;
  height: 188px;
  margin-left: auto;
}

.comment .desc {
  color: #fff;
  font-family: Poppins;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
  padding-left: 30px;
}

/*=========== benefit ==========*/
.benefit {
  padding: 100px 0;
}

.benefit .common {
  gap: 130px;
  margin: 100px 0;
}

.common .image {
  gap: 30px;
  width: 570px;
  height: 438px;
}

.common .image img:first-child {
  display: flex;
  align-self: flex-end;
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.common .image img:last-child {
  display: flex;
  align-self: flex-start;
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}

.common .part-content {
  min-width: 470px;
}

.part-content .tittle {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
  width: 100%;
}

.part-content .sub-tittle {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  width: 100%;
}

.part-content .sub-tittle:nth-of-type(1) {
  padding: 16px 0 16px;
}

.common .image-step .img-step {
  display: flex;
  align-self: flex-end;
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/* =========== blog =========== */
.blog {
  height: 878px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .next-blog {
  padding-top: 38px;
  gap: 4px;
}

/*============= footer ============*/
.footer {
  background: #2e2100;
  padding: 96px 0 28px;
}

.footer .footer-total {
  gap: 130px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item-footer:first-child h3 {
  color: #fff;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.item-footer:first-child p {
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  margin: 18px 0;
}

.footer-total :not(.item-footer:first-child) h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer-total :not(.item-footer:first-child) .line {
  width: 130px;
  margin: 14px 0 28px;
}

.footer-total :not(.item-footer:first-child) p {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer-total :not(.item-footer:first-child) p + p {
  padding-top: 12px;
}

.footer-total .item-footer:last-child p > strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer-total .item-footer:last-child p + p {
  padding-top: 12px;
}

.footer .copyright {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
